.THIS .card {
    background-color: #322A29;
}

.THIS .homeButton {
    margin-left: 25px;
    float: left;
}

.THIS .rightButtons {
    margin-right: 25px;
    font-size: 15px;
    background-color: #896F42;
    width: 200px;
    border: 2px solid #896F42;
    text-align: center;
    color: white;
    border-radius: 100px;
}

.THIS .customButton {
    font-size: 15px;
    background-color: #896F42;
    width: 100px;
    border: 2px solid #896F42;
    text-align: center;
    color: white;
    border-radius: 100px;
}

.THIS .customButtonDisabled {
    font-size: 15px;
    background-color: gray;
    width: 100px;
    border: 2px solid #896F42;
    text-align: center;
    color: white;
    border-radius: 100px;
}

.THIS .input {
    width: 400px;
    margin-right: 20px;
}

.THIS .select {
    width: 150px;
    margin-right: 20px;
}

.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
  opacity : 0.5;
}

.THIS .slds-text-heading_medium {
    color: white;
}

.THIS .slds-form-element__label {
    color: white;
}

.THIS .slds-button {
    color: white;
}

/*.THIS .slds-progress__list {
    background-color: #896F42;
}*/

